# macOS
.DS_Store

# Environment files
.env
.env.*

# Logs
*.log

# Node.js, якщо колись додаси npm
node_modules/

# Build folders
dist/
build/

# VS Code / JetBrains
.vscode/
.idea/

# Temporary files
*.tmp
*.swp